{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'toast_msg.html' %}
<h1>About Us</h1>
<p>
    The main objective of project is to modernize the legacy systems to web based management applications and still some
    countries using traditional systems and maintaining ledgers books . These takes long time to finish up a single data
    flow entry and this led to loss of information of some cases (crime files), insecurity and data redundancy .
    Similarly, in some highly confidential sensitive cases have been reported where some staff members connives with
    clients(victims) to hide some files and miss lead the evidence hence leading to compromising the evidence of the
    matter. This has consequently resulted in time wastage to handle cases, increased corruption and insecurity of
    important files hence making entire process costly. When prison reports are needed in case study , it takes along
    time to reach our hands and it leads delay in urgent decisions. In between these process a lot of loopholes created
    in the system because lack of tracking or maintaining of the information available in the departments and there are
    no security measures in place to safe guard the available data. These necessity makes us automating the system to
    make it more secure, efficient and effective. These application track and maintain the activities of the offender
    from admit to release and its controlled by the staff member.
</p>
{% endblock %}