{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'toast_msg.html' %}
<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight"><h1>Offender Action Plan</h1></div>
    <form action="{% url 'get_action_plan' %}" method="post" class="form-signin">
        {% csrf_token %}
        <div class="d-flex flex-row">
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Search.." name="offender_id">
            </div>
            <div class="p-2">
                <button class="btn btn-info">search</button>
            </div>
        </div>
    </form>
</div>
<div class="container" style="background-color:#ECECEC;">
    <!--  DON'T CHANGE ANY IN HERE  -->
    {% if offender_obj %}
    {% include 'offender_inh.html' %}
    <!--  CHANGE AS PER MODULE  -->
    <form action="{% url 'action_plan' %}" method="post" class="form-signin" id="submit_form">
        {% csrf_token %}
        <div class="row">
            <div class="select-box">
                <div class="row">
                    <div class="col-6">
                        <h3>Action Plan</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <input type='button' value='Add Record' id='addButton'>&nbsp;&nbsp;
                        <input type='button' value='Remove Record' id='removeButton'>
                        <input type="text" hidden value="{{ offender_obj.offender_id }}" name="offender_id">
                    </div>
                </div>
            </div>
            <hr>
            {% for action_plan in action_plans %}
            <div id="row">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="case_worksteps">Case Work Steps</label>
                            <textarea class="form-control personal_text" name="case_worksteps" id="case_worksteps"
                                      placeholder="Case Work Steps">{{ action_plan.case_worksteps }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" class="form-control personal_text" name="category"
                                   id="category"
                                   value="{{ action_plan.category }}"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="programnotes">Program Notes</label>
                            <input type="text" class="form-control personal_text" name="programnotes"
                                   id="programnotes" value="{{ action_plan.programnotes }}"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="startdate">Start Date</label>
                            <input type="date" class="form-control personal_text" name="startdate"
                                   id="startdate"
                                   value="{{ action_plan.startdate|date:'Y-m-d' }}"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="enddate">End Date</label>
                            <input type="date" class="form-control personal_text" name="enddate"
                                   id="enddate"
                                   value="{{ action_plan.enddate|date:'Y-m-d' }}"/>
                        </div>
                    </div>
                    <div class="col-lg-3" hidden>
                        <div class="form-group">
                            <input type="text" class="form-control personal_text" name="action_plan_id"
                                   value="{{ action_plan.action_plan_id }}"/>
                        </div>
                    </div>
                    <div class="col-lg-3 delete_btn">
                        <div class="form-group mt-2">
                            <a href="/delete_action_plan/{{action_plan.action_plan_id}}/"
                               class="btn btn-danger mt-2 delete_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div id="row-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="case_worksteps">Case Work Steps</label>
                            <textarea class="form-control personal_text" name="case_worksteps" id="case_worksteps"
                                      placeholder="Case Work Steps"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" class="form-control personal_text" name="category"
                                   id="category"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="programnotes">Program Notes</label>
                            <input type="text" class="form-control personal_text" name="programnotes"
                                   id="programnotes"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="startdate">Start Date</label>
                            <input type="date" class="form-control personal_text" name="startdate"
                                   id="startdate"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="enddate">End Date</label>
                            <input type="date" class="form-control personal_text" name="enddate"
                                   id="enddate"/>
                        </div>
                    </div>
                    <div class="col-lg-3" hidden>
                        <div class="form-group">
                            <input type="text" class="form-control personal_text" name="action_plan_id"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--        EDIT AND UPDATE BUTTONS       -->
        <div class="row mb-2 d-flex justify-content-center">
            <div class="col">
            </div>
            <div class="col order-12">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <input type="button" class="btn btn-primary"  value="Edit" id="edit_btn">
                    </div>
                    <div class="p-2">
                        <input type="submit" class="btn btn-success" value="Update" id="submit_btn">
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-danger" id="cancel_btn">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col order-1">
            </div>
        </div>
    </form>
    {% else %}
    <div class="row ">
        <div class="col-12 mt-2">
            Search Offender Profile to get data
        </div>
    </div>
    {% endif %}
    <div class="row">
        <!--            empty row to display some space -->
    </div>
</div>
<script>
    var row = $('#row-container .row:eq(0)').clone();
    $('#addButton').data('row',row);
    $('#addButton').click(function(){
    $('#row-container').append($(this).data('row').clone());
    });
    $('#removeButton').click(function(){
    $('#row-container .row').eq(  $('#row-container .row').length-1 ).remove();
    });

     $(document).ready(function(){
    $(".personal_text").prop("disabled",true);
    $("#submit_btn").hide();
    $(".delete_btn").hide();
    $("#edit_btn").click(function(){
        $(".personal_text").prop("disabled",false);
        $("#submit_btn").show();
        $("#edit_btn").hide();
        $(".delete_btn").show();
    });
    $("#cancel_btn").click(function(){
        $("#submit_btn").hide();
        $("#edit_btn").show();
        $(".delete_btn").hide();
        $(".personal_text").prop("disabled",true);
    });
 });

</script>
{% endblock %}