{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'toast_msg.html' %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="{% url 'change_password' %}" method="post" class="form-signin" id="submit_form">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Old Password</label>
                        <input type="password" class="form-control" id="inputEmail4" placeholder="Old Password"
                               name="old_password">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">New Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="New Password"
                               name="password">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}