{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'toast_msg.html' %}
<h1>Contact Us</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mohankrishnaalli</td>
        <td>allim@mail.sacredheart.edu</td>
        <td>623-227-8548</td>
    </tr>

    <tr>
        <td>Jagruthikesha</td>
        <td>keshaj@mail.sacredheart.edu</td>
        <td>203-628-1090</td>
    </tr>

    <tr>
        <td>Rahul reddykommidir</td>
        <td>kommidir@mail.sacredheart.edu</td>
        <td>848-260-8845</td>
    </tr>
    <tr>
        <td>Anoosh Koneru</td>
        <td>Konerua2@mail.sacredheart.edu</td>
        <td>475-236-4130</td>
    </tr>
    </tbody>
</table>
{% endblock %}