{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% include 'head_scripts.html' %}

<!--<div class="d-flex flex-row">-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Offenders</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Total Count : {{ context.offender_count }}</h5>-->
<!--                <h4 class="card-title">Male Count : {{ context.male_count }}</h4>-->
<!--                <h4 class="card-title">Female Count : {{ context.female_count }}</h4>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Secondary card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Secondary card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Success card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
<!--<div class="d-flex flex-row">-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Danger card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Warning card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2">-->
<!--        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header">Header</div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Info card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                    card's-->
<!--                    content.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% include 'home_section.html' %}

{% endblock content %}