{% include 'head_scripts.html' %}

<style>
/* Style for positioning toast */
.toast{
    position: absolute;
    top: 10px;
    right: 10px;
}

</style>
        {% if messages %}
        {% for message in messages %}
<div class="toast" id="myToast">
    <div class="toast-header">
                {% if message.tags == "success" %}
        <strong class="me-auto"><i class="bi-shield-check"></i> Success </strong>
        {% else %}
        <strong class="me-auto"><i class="bi-shield-exclamation"></i> Error </strong>
        {% endif %}
<!--        <small>11 mins ago</small>-->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
<script>
$(document).ready(function(){
        $("#myToast").toast("show");
});
</script>
        {% endfor %}
        {% endif %}